.slide2-track{
  display: flex;
  width: 100%;
  animation: scroll 0s linear infinite;
  margin: 0 auto;
}
.slide2-track:hover{
 animation-play-state: paused;
}
.slide2{
  max-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-10%);
  }
}
.slide2:hover{
  cursor: zoom-in;
}
.slider2{
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  padding-bottom: 20px;
}