.home {
  padding-top: 10px;
  &__text {
    text-align: center;
    color: #32373b;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1em;
    padding-bottom: 10px;
    padding-top: 10px;
  }
   
}
 
.gallery-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
  
}


.grid-item{
  overflow: hidden;
  height: 100%;
}

.grid-iteml{
  overflow: hidden;
      width: 100%;
      grid-column: span 2;
      grid-row: span 2;
      position: relative;
      
      height: 100%;
}


.grid-item__inner{
  position: relative;
  display: flex;
  cursor: pointer;
  height: 100%;
}

.grid-item__inner:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #295f7c83;
  opacity: 0;
  z-index: 1;
  transition: all .4s ease;
}
.grid-item__inner:hover:before{
  opacity: 1;
   
}

.grid-item__inner:hover .grid-item__img{
  transform: scale(1.3);
  object-fit: cover;
}
.grid-item__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .4s ease;
}

.grid-item__tittle{
  position: absolute;
  left: 10px;
  bottom: 50px;
  font-size: 20px;
  color: white;
  z-index: 1;
  text-align: center;
}

.grid-item__tittle > span{
  display: block;
  transform: translateY(30px) ;
  transition: transform .4s ease;
  opacity: 0;
}
.grid-item__inner:hover .grid-item__tittle > span{
  transform: translateY(-5px);
  opacity: 1;
}