.home {
    padding: 40px;
    &__text{
      text-align: center;
      color: #d2d2d2;
      padding-bottom: 30px;
      font-family: "Roboto Condensed",Sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.7em;
    }
    &__cont{
      
      
      &_img{
        width: 38%;
        float: left;
        padding: 15px;
      }
      &_text{
        line-height: 1.7em;
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        text-align: justify;
      }
    }
}
.bold{
  font-weight: 600;
 
}
span{
  margin-left: 25px;
}
#service-content {
  background-image: linear-gradient( to bottom, rgb(9 39 57 / 87%), rgb(9 39 57 / 87%) ), url("../img/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:#FFF !important;
}