.licenses {
  width: 100%;
  margin-top: 10px;

  
}
table{
  background: rgba(243, 243, 243, 0.339);
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(0, 0, 0); 
}
.number{
  width: 90px;
}
.pdf{
  width: 50px;
}