@import url("../font/stylesheet.css");
@import url("../font/opensans/stylesheet.css");
@import url("../libs/bootstrap/bootstrap-grid.min.css");
@import url("../libs/owl/owl.carousel.min.css");
@import url("../libs/owl/owl.theme.default.min.css");
@import url("../libs/fa/all.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
  zoom: 75%;
}

.cont1 {
  background-color: rgba(0, 0, 0, 0.475);
  position: relative;
}

.cont {
  height: 120px;
  position: fixed;
  width: 100%;
  background: url("../../../../src/img/bgMainDark.jpg");
  z-index: 2;
}

.header {
  background: url("../../../../src/img/bgMainDark.jpg");
}
.header_dark {
  padding-bottom: 110px;
}
.header #navigation {
  position: fixed;
  z-index: 2;
  width: 1350px;
}
.header__contacts {
  text-align: end;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  padding-top: 15px;
}
.header__contacts_item {
  text-decoration: none;
  color: #ffffff;
}
.header__info {
  padding-top: 60px;
  text-align: center;
}
.header__info-title {
  color: #FFF;
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 76px;
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 50px;
}
.header__info-subtitle {
  color: #BFBFBF;
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 50px;
}
.header__info-btn {
  margin-top: 20px;
  background-color: #962715;
  width: 480px;
  height: 70px;
  display: block;
  font-family: Roboto, Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4em;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__info-btn:hover {
  color: #962715;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.header-nav__img {
  position: absolute;
  height: 100px;
  top: -40px;
}
.header-nav__logo {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.header-nav__text {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  font-weight: 600;
}
.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}
.header-nav__menu-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}
.header-nav__menu-item:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

ul {
  list-style: none;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul li {
  text-align: center;
  font-size: 10px;
  color: #ffffff;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: left;
}

ul li ul {
  background-color: #961515;
  margin-left: 20px;
  position: absolute;
  width: 400px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

ul li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

ul li ul li {
  display: none;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

ul li:hover ul li {
  display: block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.down {
  padding-bottom: 2px;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 15px;
}

.grid-item {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 24px 24px rgba(36, 80, 103, 0.4509803922);
          box-shadow: 0px 24px 24px rgba(36, 80, 103, 0.4509803922);
}

.grid-iteml {
  overflow: hidden;
  width: 100%;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  position: relative;
  -webkit-box-shadow: 0px 24px 24px rgba(36, 80, 103, 0.4509803922);
          box-shadow: 0px 24px 24px rgba(36, 80, 103, 0.4509803922);
  height: 100%;
}

.grid-item__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: 100%;
}

.grid-item__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(36, 79, 103, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(36, 79, 103, 0.5));
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.grid-item__inner:hover:before {
  opacity: 0;
}

.grid-item__inner:hover .grid-item__img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.grid-item__tittle {
  position: absolute;
  left: 10px;
  bottom: 50px;
  font-size: 24px;
  color: white;
}

.grid-item__tittle > span {
  display: block;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  opacity: 1;
}

.grid-item__inner:hover .grid-item__tittle > span {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0;
}

.licenses {
  width: 100%;
  margin-top: 10px;
}

table {
  background: rgba(243, 243, 243, 0.339);
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(0, 0, 0);
}

.number {
  width: 90px;
}

.pdf {
  width: 50px;
}

.footer {
  position: relative;
  padding-top: 10px;
  margin-top: 100px;
  padding-top: 10px;
  background: #244f67;
}
.footer__copyright {
  position: absolute;
  background: #1b3c4d;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  line-height: 2;
  padding-top: 10px;
}
.footer__info_text {
  margin: 15px 0;
  padding: 0 15px;
  width: 33%;
  margin-top: 30px;
  text-align: center;
  margin-left: 12px;
  font-size: 15px;
  font-weight: 900;
}
.footer__info_text-item {
  font-size: 15px;
  color: #fff;
  line-height: 2;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.footer__inner-item {
  margin: 20px;
}
.footer__inner-item_img-img {
  max-width: 300px;
}

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  background-color: rgba(36, 80, 103, 0.4509803922);
  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  outline: none;
}

.back-to-top::before,
.back-to-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.back-to-top::before {
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
}

.back-to-top::after {
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}
.form__input, .form__textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  border-bottom: 1px solid #131313;
}

.btn {
  color: #fff;
  background-color: #962715;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #b43e2b;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 80, 103, 0.6901960784);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.overlay .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  display: none;
}

.wrapper {
  text-align: center;
}

.popup-close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -25px;
  right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.popup-close__line {
  position: relative;
  width: 100%;
  height: 2px;
}
.popup-close__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-close__line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tasks__img {
  width: 341px;
  height: 230px;
  margin-top: 25px;
}
.tasks__title {
  color: #000;
  font-family: Roboto, Sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 2.5em;
  text-align: center;
  color: #1E1E20;
  line-height: 1.7em;
  margin-bottom: 35px;
}
.tasks__subtitle {
  max-width: 300px;
  font-weight: 600;
  color: #1E1E20;
  text-align: center;
  color: #000;
  font-family: Roboto, Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
}
.tasks .line {
  margin-top: 50px;
}
.tasks .img {
  width: 100%;
}

.consultation1 {
  text-align: center;
}
.consultation1__title {
  color: #000;
  font-size: 45px;
  font-weight: 600;
  line-height: 2.5em;
}
.consultation1__form {
  margin: 0 auto;
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.consultation1__form-btn {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 40px;
  width: 120px;
  background: #13aff0;
  color: white;
  padding-top: 15px;
  text-transform: uppercase;
  display: inline-block;
  font-family: inherit;
  background-color: #13aff0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.consultation1-input {
  display: inline-block;
  min-height: 40px;
  width: 100%;
  font-size: 14px;
  line-height: 1.8;
  padding: 6px 12px;
  vertical-align: middle;
  background-color: transparent;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}