.home {
    padding-top: 10px;
    &__img {
      width: 550px;
      height: 309px;
      margin-left: 0;
      margin-bottom: 0px;
      &_text{
        text-align: center;
        font-family: "Roboto Condensed",Sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        margin-left: 90px;
        margin-bottom: 48px;
        &_right{
          text-align: center;
        font-family: "Roboto Condensed",Sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        margin-right: 89px;
        margin-bottom: 48px;
        }
      }
      &_left{
        width: 550px;
      height: 309px;
      margin-left: 89px;
      }
    }
    &__text{
      text-align: center;
    color: #32373b;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.7em;
    padding-bottom: 10px;
    padding-top: 20px;
    
    }
    .imgs{
      display: flex;
      flex-wrap: nowrap;
      max-width: 100%;

      &__cont{
        margin-left: 15px;
        width: 100%;
        &_img{
          width: 100%;
          height: 260px;
          object-fit: cover;
        }
        &_subtitle{
          font-weight: 600;
          text-align: center;
          text-decoration: none;
          padding-bottom: 15px;
          color: #1E1E20;
        }
      }
    }
}



.gallery-grid{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.grid-item{
  margin: 15px 0;
  padding: 0 15px;
  width: 33%;
  height: 405px;
}
.grid-item__inner{
  position: relative;
  display: flex;
  height: 100%; 
  overflow: hidden;
  
}
.grid-item__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    transition: all .4s ease;

}
.grid-item__inner:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(36, 79, 103, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(36, 79, 103, 0.5));
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;

}

.grid-item__inner:hover:before{
  opacity: 1;
   
}
.grid-item__tittle{
  position: absolute;
  left: 10px;
  bottom: 50px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  z-index: 1;
  opacity: 1;
}
.grid-item__inner:hover .grid-item__tittle{
  opacity: 1;
}
.grid-item__inner:hover .grid-item__img{
  transform: scale(1.3);
  object-fit: cover;
}
.grid-item__tittle{
  display: block;
  transform: translateY(30px) ;
  transition: transform .4s ease;
}
.grid-item__inner:hover .grid-item__tittle{
  transform: translateY(-5px);
}