.licenses {
  width: 100%;
  margin-top: 10px;

  
}
table{
  background: rgba(243, 243, 243, 0.339);
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(0, 0, 0); 
}
th{
  height:50px;
  font-size: 22px;
}
.number{
  width: 60px;
  text-align: center;
}
.pdf{
  width: 40px;
}
tr:nth-child(2n) {
  background: #5ba9ea27; /* Цвет фона */
 } 